<h1>
    chat
</h1>
<hr>

<div class="app-mensajes" id="app-mensajes">


    <div [ngClass]="{'text-right': chat.uid === chatService.usuario.uid}" class="" *ngFor="let chat of chatService.chats">
        <span class="badge" [ngClass]="{'badge-primary': chat.uid === chatService.usuario.uid,
                            'badge-success': chat.uid !== chatService.usuario.uid
                           }">
            {{ chat.nombre }}
        </span>
        <p>
            {{ chat.mensaje }}
        </p>
    </div>
</div>
<input type="text" name="mensaje" [(ngModel)]="mensaje" value="" placeholder="Enviar mensaje" (keyup.enter)="enviarMensaje()" class="form-control">